/*General purpose Pointer class, if you need only pointer cursor on hover, just add pointer as ClassName*/

.pointer:hover {
  cursor: pointer;
}

/*Formatting CSS for Search Text Box*/

.searchBar {
  width: 70%;
  margin: 1rem;
  font-size: 2rem;
}
.searchTextBox {
  font-size: 2rem;
}

/*Formatting CSS for Table*/

.MyList {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 1.5em;
}

th {
  background-color: rgb(110, 210, 250);
}

.actionColumnHead {
  text-align: center;
}
.actionButtonsColumn {
  display: flex;
  justify-content: space-around;
}

/* td {
  background-color: rgb(205, 235, 253);
} */

/*Interactive buttons on table like Save, Close, checkbox*/

.checked {
  background-color: lightgray;
}
.unchecked {
  background-color: rgb(230, 250, 250);
}
.checkbox {
  margin: 2rem;
}

.saveicon {
  padding-right: 0.5rem;
}
.close:hover {
  color: peru;
}

/*Formatting CSS for Footer buttons - Delete Selected and Pagination Buttons*/

.footer {
  display: flex;
}

.deleteSelected {
  padding: 0.7rem;
  margin: 1.5rem;
  background-color: #ee99ee;
  border-radius: 6em;
}

.deleteSelected:hover {
  cursor: pointer;
  background-color: red;
}

.paginationBtns {
  display: flex;
  list-style: none;
}
.paginationButton {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 6em;
}

.paginationButton:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.activePage {
  background-color: darkgreen;
}
.inactivePage {
  background-color: #007fff;
}
.firstPage,
.nextPage,
.prevPage,
.lastPage {
  background-color: #007fff;
}
